.raffle-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
}

.number-raffle {
  margin: 4px;
  padding: 3px;
  background-color: white;
}

.selected-number {
  background-color:rgb(65, 203, 245);
}

.requested-number {
  background-color: rgb(255, 252, 158);
}

.buy-number {
  background-color: aquamarine ;
}