.raffle-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
}

.number-raffle {
  margin: 4px;
  padding: 3px;
  background-color: white;
}

.selected-number {
  background-color: rgb(255, 0, 0);
}

.requested-number {
  background-color: rgb(251, 255, 0);
}

.buy-number {
  background-color: rgb(13, 255, 0);
}