.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.run {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.button {
  font-size: 3rem;
  display: flex;
  color: rgb(0, 108, 72);
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.number {
  font-size: 20rem;
  display: flex;
  color: rgb(0, 108, 72);
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.title {
  font-size: 5rem;
  display: flex;
  color: rgb(0, 108, 72);
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}